@import "bootstrap.less";
@import "keyframeAnimations.less";
@import "navigation.less";
@import "page.home.less";
@import "page.bio.less";
@import "page.work.less";
@import "page.work.item.less";

@import "component.filterdropdown.less";
@import "component.spinner.less";
@import "component.navbar.less";
@import "component.header.less";
@import "component.footer.less";
@import "component.carousel.less";

html,body {
  height: 100%;
}

body {

  background-color: @main-background-color;
  color: @main-foreground-color;

  background-position: center 100%;

  padding-left: 10px;
  padding-right: 10px;

  overflow-y: scroll;
}

@media (min-width: @grid-float-breakpoint) {

  body {
    padding-left: 0;
    padding-right: 0;
  }

  body.menu-activated {
    padding-left: 130px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #eaeaea;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.main-content {
  position: relative;
  width: 100%;
  height: 100%;
}


.separator {
  -webkit-user-select: none;
}

.page {
  margin: 0;
  padding: 20px 0 40px;

  &.menuIsOpen {
    padding-left:130px;
  }

  label {
    font-weight: normal;
  }
}

.page .separator {
  font-size: 8px;
  width: 100%;
  white-space: nowrap;
  display: block;
  margin: 0;
  line-height: 1;
  font-weight: 800;
  font-family: @code-font;
  letter-spacing: 2px;
  overflow: hidden;
  color: @main-dim-color;
}

.page > header {
  color: @main-foreground-color;
  text-align: center;
  margin-bottom: 20px;

  .page-title-wrapper {
    display: block;
    height: 60px;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-left: 70px;
    padding-right: 70px;
  }

  h1 {
    position: relative;
    top: 28px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: @hand-font;

    @media (min-width: @grid-float-breakpoint) {
      top: 23px;
      font-size: 34px;
    }

    a {
      color: @main-link-color;
    }

    a:hover,
    a:focus {
      text-decoration: none;
      color: @main-foreground-color;
    }
  }

  .firstName {
    margin-right: 10px;
  }
  .lastName {
  }

}

.page > section {

  font-family: @dosis-font;
  color: @main-foreground-color;
  max-width: 400px;

  @media (min-width: @grid-float-breakpoint) {
    max-width: 100%;
  }

  > header {
    text-align: center;
    color: @main-foreground-color;
    margin-bottom: 1em;

    h2 {
      margin: 0;
      padding: 0;
      font-family: @hand-font;
    }
  }

}

.btn-branded {
  position: relative;
  border: 1px solid lighten(@main-link-color, 25%);
  color: @main-foreground-color;
  background-color: lighten(@main-link-color, 33%);
  margin-right: 3px;
  border-radius: 0;
  .transition(all ease 0.1s);

  &:hover,
  &:focus {
    background-color: darken(@main-link-color, 10%);
    border-color: darken(@main-link-color, 20%);
    color: @main-background-color;
  }
}

.btn-popover:before {
  content: '';
  display: block;
  position: absolute;
  border-width: 0px 8px 8px 0px;
  border-color: transparent transparent lighten(@main-link-color, 25%) transparent;
  border-style: solid;
  display: block;
  bottom: 0;
  left: 0;
}


@popover-border-highlight-color: @main-link-color;
@popover-bg: @main-background-color;
@popover-fallback-border-color: #ddd;
@popover-border-color: #ddd;
@popover-title-bg: @main-background-color;
@popover-arrow-outer-fallback-color: @popover-border-highlight-color;
@popover-arrow-outer-color: @popover-border-highlight-color;
@popover-arrow-color: @main-background-color;

.main-content {

  .popover {
    background-color: @popover-bg;
    border: 1px solid @popover-fallback-border-color;
    border: 1px solid @popover-border-color;
    border-bottom-color: @popover-border-highlight-color;
    border-radius: 0;
    .box-shadow(0 0 5px rgba(0,0,0,.1));
  }

  .popover-title {
    background-color: @popover-title-bg;
    border-bottom: 1px solid darken(@popover-title-bg, 5%);
    border-radius: 0;
  }

  .popover {
    &.top .arrow {
      border-top-color: @popover-arrow-outer-fallback-color; // IE8 fallback
      border-top-color: @popover-arrow-outer-color;
      &:after {
        border-top-color: @popover-arrow-color;
      }
    }
    &.right .arrow {
      border-right-color: @popover-arrow-outer-fallback-color; // IE8 fallback
      border-right-color: @popover-arrow-outer-color;
      &:after {
        border-right-color: @popover-arrow-color;
      }
    }
    &.bottom .arrow {
      border-bottom-color: @popover-arrow-outer-fallback-color; // IE8 fallback
      border-bottom-color: @popover-arrow-outer-color;
      &:after {
        border-bottom-color: @popover-arrow-color;
      }
    }

    &.left .arrow {
      border-left-color: @popover-arrow-outer-fallback-color; // IE8 fallback
      border-left-color: @popover-arrow-outer-color;
      &:after {
        border-left-color: @popover-arrow-color;
      }
    }

  }

}





////////////////////////////////////////////////////////////
///////////////   TESTING ANIMATIONS
////////////////////////////////////////////////////////////

@transition-length: 0.2s;
@transition-length-short: 0.1s;

[ui-view] {
  -webkit-transition:none;
}

// MAIN WRAPPER
///////////////////

[ui-view="main"] {

  width: 100%;
  height: 100%;
  position: absolute;

  -webkit-transform-origin: top center;
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);

  &.ng-enter {
    -webkit-transition:all @transition-length ease-in-out;
  }
  &.ng-leave {
    -webkit-transition:all @transition-length ease-in-out;
  }

  &.ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
  }

  &.ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
  }

  &.ng-leave {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
  }

  &.ng-leave-active {
    opacity: 0;
    -webkit-transform:translate3d(0, -200px, 0);
  }
}


// WORK SUBLISTS
///////////////////

.page-work-item,
.page-work-list {
  position: relative;
}


// item relate list
.main_work_gallery_item [ui-view="list"]{
  -webkit-transform-origin: top center;
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);

  &.ng-enter {
    -webkit-transition:all 0.5s ease-in-out;
    transition-delay:0.5s;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9998;
    bottom:0;
  }
  &.ng-leave {
    -webkit-transition:all 0.1s ease-out;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    bottom:0;
  }
  &.ng-enter {
    opacity: 0;
    -webkit-transform:translate3d(0, 500px, 0);
    -webkit-transform:scale3d(0.6, 0.6, 0.6);
  }

  &.ng-enter-active {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    -webkit-transform:scale3d(1, 1, 1);
  }

  &.ng-leave {
    opacity: 0;
    -webkit-transform:translate3d(0, 0, 0);
  }

  &.ng-leave-active {
    opacity: 0;
    -webkit-transform:scale3d(0.6, 0.6, 0.6);
  }
}


// general config
[ui-view="item"],
[ui-view="list"]{

  -webkit-transform-origin: top center;
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);

  &.ng-enter {
    -webkit-transition:all @transition-length ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9998;
    top:0;
  }
  &.ng-leave {
    -webkit-transition:all @transition-length ease-out;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    top:0;
  }

  &.ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.6, 0.6, 0.6);
  }

  &.ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
  }

  &.ng-leave {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
  }

  &.ng-leave-active {
    opacity: 0;
    -webkit-transform:translate3d(0, -500px, 0);
    -webkit-transform:scale3d(0.6, 0.6, 0.6);
  }
}

// TODO
// when animating in/out the item page
// do something with list view which
// animates along with item view when
// both are stuck to "top:0"




/*
 * ngRepeat triggers three animation events: enter, leave and move.
 */
.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
  -webkit-transition:100s ease-in-out all;
  transition:100s ease-in-out all;
}

/* ending enter and move styling
   (this is what the element will animate from */
.repeat-animation.ng-enter,
.repeat-animation.ng-move {
  opacity:0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
}

/* ending enter and move styling
   (this is what the element will animate towards */
.repeat-animation.ng-enter.ng-enter-active,
.repeat-animation.ng-move.ng-move-active {
  opacity:1;
  -webkit-transform:scale3d(1, 1, 1);
}

/* starting leave animation */
.repeat-animation.ng-leave {
  opacity:1;
  -webkit-transform:scale3d(1, 1, 1);
}

/* ending leave animation */
.repeat-animation.ng-leave.ng-leave-active {
  opacity:0;
  -webkit-transform:scale3d(0, 0, 0);
}


.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-move-stagger {
  /* 50ms between each item being animated after the other */
  -webkit-transition-delay:100ms;
  transition-delay:100ms;

  /* this is required here to prevent any CSS inheritance issues */
  -webkit-transition-duration:0;
  transition-duration:0;
}















.repeater.ng-enter {
  -webkit-transition:0.2s linear all;
  transition:0.2s linear all;

  opacity:0;
  -webkit-transform:scale(1.15)!important;
  transform:scale(1.15)!important;
}

.repeater.ng-enter.ng-enter-active {
  opacity:1;
  -webkit-transform:scale(1)!important;
  transform:scale(1)!important;
}

.repeater.ng-leave {
  position:absolute;
  -webkit-transition:0.1s linear all;
  transition:0.1s linear all;

  opacity:0;
}

.repeater.ng-leave.ng-leave-active {
  opacity:0;
}

.repeater.ng-enter-stagger,
.repeater.ng-leave-stagger {
  -webkit-transition-delay:0.1s;
  transition-delay:0.1s;

  -webkit-transition-duration:0;
  transition-duration:0;
}