// variables in use in this file

@nav-bg: @brand-link;
@nav-fg: @brand-bg-light;
@toggle-bg: @brand-bg;
@brand-font: @hand-font;
@nav-font: @dosis-font;
@sprite-p: @sprite-path;

.navigation-toggler {
  display: block;
  position: absolute;
  top: 12px;
  right: -55px;
  width: 44px;
  height: 40px;
  background-color: @toggle-bg;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 11px;

  .transition( all ease 0.1s );

  .navigation-toggler-bar {
    display: block;
    height: 2px;
    width: 22px;
    background-color: @nav-bg;
    margin: 0 auto 5px;
    border-radius: 2px;

    .transition( all ease 0.3s );
  }

  &:hover,
  &:focus {
    outline: none;

    background-color: @nav-bg;
    .navigation-toggler-bar {
      background-color: @toggle-bg;
    }
  }

  &.active {

    .navigation-toggler-bar {
      position: absolute;
      left: 10px;
      margin: 0;
    }

    .toggler-bar-1 {
      top: 50%;
      margin-top: -1px;
      width: 15px;

      .rotate(-45deg);
      .transform-origin(bottom left)
    }
    .toggler-bar-2 {
      top: 50%;
      margin-top: -1px;
      width: 25px;
    }
    .toggler-bar-3 {
      top: 50%;
      margin-top: -1px;
      width: 15px;

      .rotate(45deg);
      .transform-origin(top left);
    }
  }
}


.navigation {
  width: 130px;
  min-height: 100%;
  background-color: @nav-bg;
  position: absolute;
  position: fixed;
  top: 0;
  left: -125px;
  z-index: 1050;

  .transition( all ease 0.15s );

  &.active {
    left:0;
  }
}

.navigation-main {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
}

.navigation-main ul {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    text-align: center;

    &.active {
      color: @nav-fg;
      background-color: darken(@nav-bg,10%);
    }

    &.home a {
      padding-top: 20px;
      padding-bottom: 16px;
      border-bottom: 6px solid darken(@nav-bg,15%);
    }

    a {
      display: block;
      color: @nav-fg;
      font-size: 16px;
      line-height: 24px;
      font-family: @nav-font;
      padding: 8px;
      .transition(all 0.2s ease);

      .jumping-letter{
        position:relative;
        color: @nav-fg;
      }

      &:visited {
        color: @nav-fg;
      }

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        letter-spacing: 1px;
        color: @nav-fg;
        background-color: darken(@nav-bg,10%);
        outline: none;

        .jumping-letter{
          animation:bounceLetter 1s;
          -o-animation:bounceLetter 1s ;
          -moz-animation:bounceLetter 1s ;
          -webkit-animation:bounceLetter 1s ;
        }
      }

    }

    &.home a {
      font-family: @brand-font;
      font-size: 2em;
    }

  }

}



.navigation-bg {

  display: block;
  width: 80px;
  height: 60px;
  background-image: url(@sprite-p);
  background-repeat: no-repeat;
  background-size: 60px;
  margin: 0 auto;


  &.navigation-bg-bio{
    background-position: center -243px;
    height: 50px;
  }
  &.navigation-bg-work{
    background-position: center -295px;
  }
  &.navigation-bg-hire{
    background-position: center -362px;
    height: 55px;
  }
}