@main-background-color: @brand-bg;
@main-foreground-color: @brand-fg;
@main-link-color: @brand-link;
@main-dim-color: @brand-dim;

@main-page-break: 800px;
@main-page-break-lower: 400px;

.main_home .footer {
  position: absolute;
  width: 100%;
  left:0;

  @media (min-width: @grid-float-breakpoint) {
    width: 500px;
    left: 50%;
    margin-left: -250px;
  }
}

.home-block {

  width: @main-page-break - 1;
  height: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -400px;

  @media (max-width: @main-page-break) {
    width: 100%;
    left:0;
    margin-left: 0;
  }

  h1 {
    position: absolute;
    top: 13px;
    left: -30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: right;
    width: 50%;
    font-size: 50px;
    font-family: @hand-font;
    .transition(all ease 0.3s);

    @media (max-width: @main-page-break) {
      text-align: center;
      width: 100%;
      left:0;
    }

    @media (max-width: @main-page-break-lower) {
      text-align: center;
      width: 100%;
      left:0;
      font-size: 38px;
    }
  }

  h2 {
    font-family: @code-font;
    font-size: 16px;
    position: absolute;
    top: 54px;
    left: -30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: right;
    width: 50%;
    .transition(all ease 0.3s);

    @media (max-width: @main-page-break) {
      text-align: center;
      width: 100%;
      left:0;
      top: 56px;
      text-indent: 140px;
    }

    @media (max-width: @main-page-break-lower) {
      text-align: center;
      width: 100%;
      left: 0;
      font-size: 12px;
      text-indent: 100px;
      top: 43px;
    }
  }

  .firstName {
    margin-right: 10px;
  }
  .lastName {
  }

  .separator {
    font-size: 8px;
    width: 5px;
    word-break: break-all;
    display: block;
    margin: 0 auto;
    line-height: 1;
    font-weight: 800;
    font-family: @code-font;
    color: darken(@main-dim-color,10%);
    .transition(all ease 0.3s);

    @media (max-width: @main-page-break) {
      display:none;
      text-align: center;
      width: 100%;
      letter-spacing: 3px;
      position: absolute;
      top: -27px;
    }
  }

}


.home-block-nav {
  position: absolute;
  top: 0;
  opacity: 1;
  left: 50%;
  margin-left: 32px;
  .transition(all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s);

  @media (max-width: @main-page-break) {
    text-align: center;
    width: 100%;
    left:0;
    top: 68px;
    margin: 0 auto;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 32px;

    li {
      display:block;
      .transition(all ease 0.3s);

      @media (max-width: @main-page-break) {
        width: 300px;
        margin: 0 auto;
      }

      @media (max-width: @main-page-break-lower) {
        width: 220px;
        margin: 0 auto;
      }

      a {
        display: block;
        position: relative;
        padding: 9px 16px;
        color: @main-link-color;
        border: 1px solid @main-link-color;
        border-top-color: transparent;
        min-width: 200px;
        margin-bottom: 30px;
        .transition(all ease 0.1s);

        @media (max-width: @main-page-break) {
          margin-bottom: 20px;
        }

        &:hover,
        &:focus {
          border-bottom-width: 4px;
          border-top-color: @main-link-color;
          margin-bottom: 27px;
          text-decoration: none;

          @media (max-width: @main-page-break) {
            margin-bottom: 17px;
          }

          .arrow {
            animation:shakeArrow 0.6s infinite;
            -o-animation:shakeArrow 0.6s infinite;
            -moz-animation:shakeArrow 0.6s infinite;
            -webkit-animation:shakeArrow 0.6s infinite;
          }

        }

      }

    }

    .arrow {
      position:absolute;
      top: 0;
      right: 0;

      &:before,
      &:after{
        content:'';
        position:absolute;
        display: block;
        width: 15px;
        height: 1px;
        background-color: @main-link-color;
        right: 10px;
      }

      &:before {
        transform: rotateZ(45deg);
        top:13px;
      }
      &:after {
        transform: rotateZ(-45deg);
        top:23px;
      }
    }

  }

}


