---
layout: default
---

{% assign first_post = site.categories.long[0] %}
{% assign second_post = site.categories.long[1] %}
{% assign third_post = site.categories.long[2] %}
{% assign excerpt_max_len = 180 %}

<!-- top most blog entry -->
<div class="featured-1 mb-4 p-4 p-md-5 text-white rounded jumbotron-dark">
  <div class="row">

    <div class="col-md-6 order-md-12">
      {% if first_post.image %}
      <img class="img-fluid rounded mb-4 mb-md-0" src="{{ first_post.image | prepend: site.baseurl }}">
      {% endif %}
      {% if first_post.image_caption %}
      <figcaption class="text-center text-muted mb-4 mb-md-0">
        {{ first_post.image_caption }}
      </figcaption>
      {% endif %}
    </div>

    <div class="col-md-6 order-md-1">
      <h1 class="display-4 font-italic">
        {{ first_post.title }}
      </h1>
      <div class="mb-1 text-muted">{{ first_post.date | date: "%B %e, %Y" }}</div>
      <p class="lead my-3">{{ first_post.excerpt | strip_html | strip_newlines | truncate: excerpt_max_len }}</p>
      <p class="lead mb-0">
        <a href="{{ first_post.url | prepend: site.baseurl }}" class="btn btn-primary">Continue reading</a>
      </p>
    </div>

  </div>
</div>

{% if site.categories.short.size > 0 %}
<div class="row">
  {% for post in site.categories.short %}
    <div class="col-md-6 col-lg-4">
      <div class="card mb-4">
        <div class="card-body">
          <a href="{{ post.url }}">{{ post.title }}</a>
          <small class="text-muted">{{ post.date | date: "%B %e, %Y" }}</small>
          <small class="badge badge-pill badge-light">Short</small>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}

{% if second_post or third_post %}

<div class="row mb-2">

  {% if second_post %}

  <div class="col-md-6">
    <div class="card featured-2 mb-5 shadow-sm">
      <header class="card-img-top" style="background-image: url('{{ second_post.image | prepend: site.baseurl }}')"></header>
      <div class="card-body d-flex flex-column align-items-start">
        <h3 class="mb-0">
          <a class="text-dark" href="{{ second_post.url | prepend: site.baseurl}}">{{ second_post.title }}</a>
        </h3>
        <div class="mb-1 text-muted">{{ second_post.date | date: "%B %e, %Y" }}</div>
        <div class="card-text mb-1 excerpt">{{ second_post.excerpt | strip_html | strip_newlines | truncate: excerpt_max_len }}</div>
        <a href="{{ second_post.url | prepend: site.baseurl }}">Continue reading</a>
      </div>
    </div>
  </div>

  {% endif %}
  {% if third_post %}

  <div class="col-md-6">
    <div class="card featured-2 mb-5 shadow-sm">
      <header class="card-img-top" style="background-image: url('{{ third_post.image | prepend: site.baseurl }}')"></header>
      <div class="card-body d-flex flex-column align-items-start">
        <h3 class="mb-0">
          <a class="text-dark" href="{{ third_post.url | prepend: site.baseurl }}">{{ third_post.title }}</a>
        </h3>
        <div class="mb-1 text-muted">{{ third_post.date | date: "%B %e, %Y" }}</div>
        <div class="card-text mb-1 excerpt">{{ third_post.excerpt | strip_html | strip_newlines | truncate: excerpt_max_len }}</div>
        <a href="{{ third_post.url | prepend: site.baseurl }}">Continue reading</a>
      </div>
    </div>
  </div>

  {% endif %}
</div>

{% endif %}

<div class="row">

  <div class="col-md-5 order-md-1">

    <h2>Side projects, open source</h2>

    <p class="lead">List of publicly accessible side projects I have contributed to in the past. <a href="https://github.com/ivarprudnikov">Open Github to see more</a>.</p>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Understanding investments & savings</h5>
        <p class="card-text">How much should/could I save? Where do I start? How to invest? Similar questions bothered me for a while.</p>
        <a href="https://ivarprudnikov.github.io/understanding-investments/" class="btn btn-outline-secondary btn-sm">Visit website</a>
        <a href="https://github.com/ivarprudnikov/understanding-investments" class="btn btn-outline-secondary btn-sm">Source code</a>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Build your own text generator</h5>
        <p class="card-text">How hard can it be to train your own machine learning model which will generate text for you? Too expensive to run it purely for demos, only source code available.</p>
        <a href="https://github.com/ivarprudnikov/char-rnn-tensorflow" class="btn btn-outline-secondary btn-sm">Source code</a>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Search of Irish startups (outdated)</h5>
        <p class="card-text">Had this idea of compiling all of the Irish startup companies in one place in 2015. Wanted to sift through and see what is happening, what problems people try to solve.</p>
        <a href="http://ivarprudnikov.github.io/irish-startups-angular2/" class="btn btn-outline-secondary btn-sm">Visit website</a>
        <a href="https://github.com/ivarprudnikov/irish-startups-angular2" class="btn btn-outline-secondary btn-sm">Source code</a>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Android sensors app</h5>
        <p class="card-text">Subscribe to device sensors and store data locally. Later use a URL to send the aggregated data somewhere you need.</p>
        <a href="https://play.google.com/store/apps/details?id=com.ivarprudnikov.sensors" class="btn btn-outline-secondary btn-sm">Visit Google Play</a>
        <a href="http://ivarprudnikov.github.io/android_sensors/" class="btn btn-outline-secondary btn-sm">Visit website</a>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Local internet speed monitor</h5>
        <p class="card-text">Because you just never know when your internet service provider will ask you "How's your internet?".</p>
        <a href="https://speed-test.lila.io/" class="btn btn-outline-secondary btn-sm">Visit website</a>
        <a href="https://github.com/ivarprudnikov/rpi-speedtest" class="btn btn-outline-secondary btn-sm">Source code</a>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">User authentication templates</h5>
        <p class="card-text">Templates to authenticate users and then authorize them to access an API on Lambda. By using a free Auth0 account. Another idea doomed to fail.</p>
        <a href="https://ivarprudnikov.github.io/react-auth0-template/" class="btn btn-outline-secondary btn-sm">Visit website</a>
        <a href="https://github.com/ivarprudnikov/react-auth0-template" class="btn btn-outline-secondary btn-sm">Website source</a>
        <a href="https://github.com/ivarprudnikov/auth0-micronaut-template" class="btn btn-outline-secondary btn-sm">Lambda source</a>
      </div>
    </div>

    <hr class="my-5 d-md-none">

  </div>
  <div class="col-md-7 order-md-0 blog-main">

    {% if site.categories.long.size > 3 %}

    <h2 class="d-md-none mb-4">Blog posts (continued)</h2>

    <div class="posts">

      {% assign sz = site.categories.long.size %}

      {% for i in (3..sz) %}

        {% if i < sz %}
        <div class="blog-post">

          <div class="d-flex flex-column flex-lg-row">

            {% if site.categories.long[i].image %}
              <div class="flex-auto mr-3 mb-3">
                <img width="150" class="rounded" src="{{ site.categories.long[i].image | prepend: site.baseurl }}">
              </div>
            {% endif %}

            <div class="d-flex flex-column align-items-start">
              <h3 class="mb-0">
                <a class="text-dark" href="{{ site.categories.long[i].url | prepend: site.baseurl }}">{{ site.categories.long[i].title }}</a>
              </h3>
              <div class="mb-1 text-muted">{{ site.categories.long[i].date | date: "%B %e, %Y" }}</div>
              <div class="mb-1">{{ site.categories.long[i].excerpt | strip_html | strip_newlines | truncate: excerpt_max_len }}</div>
              <a href="{{ site.categories.long[i].url | prepend: site.baseurl }}">Continue reading</a>
            </div>
          </div>

        </div>
        {% endif %}

      {% endfor %}

    </div>

    {% endif %}

  </div>

</div>
