---
---

$primary: #a73f3f;
$font-family-serif: Georgia, "Times New Roman", serif;
$font-family-sans-serif: "IBM Plex Serif", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import "bootstrap/bootstrap";
@import "toc";
@import "rating";

/* stylelint-disable selector-list-comma-newline-after */

#main {
  min-height: 60vh;
}

button {
  cursor: pointer;
}

.blog-header-logo {
  background: -webkit-gradient(linear,left top,right top,from(#3f40a7),to(#b53093));
  background: linear-gradient(to right,#3f40a7,#b53093);
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;
}

.jumbotron-dark {
  background: #2b3a42;
  background: -moz-linear-gradient(-45deg, #2b3a42 0%, #232f3f 100%);
  background: -webkit-linear-gradient(-45deg, #2b3a42 0%, #232f3f 100%);
  background: linear-gradient(135deg, #2b3a42 0%, #232f3f 100%);
}

.featured-1 img {

}

.featured-2 .card-img-top {
  height: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2b3a42;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid $gray-200;
}

.blog-header-logo {
  font-family: $font-family-serif;
  font-size: 2rem;

  .dimmed {
    opacity: 0.2
  }
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
}

.display-4 {
  font-size: 2.5rem;
  line-height: 1;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  font-size: 0.9rem;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: $gray-600;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.posts .blog-post {
  margin-bottom: 3rem;
}

.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: $gray-600;
}
.blog-post-content {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 4rem;

  a {
    text-decoration: underline;
  }

  > p {
    margin-bottom: 1.5rem;
  }

  blockquote {
    position: relative;
    margin: 2rem 0 2rem 1rem;
    color: $gray-600;
    padding-left: 1rem;
    font-size: 1.3rem;
    font-weight: 300;

    &::before {
      content: "\201C"; // left double quotation mark
      font-size: 4rem;
      position: absolute;
      top: -2rem;
      left: -1rem;
    }

    blockquote {
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 1rem;
        left: 1rem;
        padding: 1rem;
        border-bottom: 1px solid $gray-200;
        border-right: 1px solid $gray-200;
      }
    }
  }
}

/*
 * Footer
 */
.blog-footer {
  font-size: 0.9rem;
  padding: 2.5rem 0.5rem;
  color: $gray-600;
  background-color: $gray-100;
  border-top: .05rem solid $gray-200;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.blog-footer-secondary {
  padding: 10px;
  color: $gray-200;
  font-size: 12px;
  background-color: $gray-700;

  a {
    color: $gray-200;
    text-decoration: underline;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
