option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: npm start
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 0.10.10
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: GzipCompression
    value: true
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - option_name: NODE_ENV
    value: production

commands:
  01-cmd:
    command: "echo '*********************************************************************'"
  02-cmd:
    command: "export npm_config_production=true"
  03-cmd:
    command: "echo 'ENV VARS >>>>>>>>>' $(export -p)"
  04-cmd:
    command: "echo '*********************************************************************'"

