option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /data
    value: /client-prod/data
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /fonts
    value: /client-prod/fonts
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /images
    value: /client-prod/images
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /scripts
    value: /client-prod/scripts
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /styles
    value: /client-prod/styles
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /views
    value: /client-prod/views