<a ui-sref="main.work.timeline" class="gallery-item-back-link">Back</a>

<div class="col-sm-12 ">

    <div class="timeline-container" ng-attr-style="height:{{timelineBlockHeight()}}px;">

        <div id="timeline" class="timeline-single">

            <div class="timeline-year {{jobYears[0] + 1}}">
                <div class="timeline-year-value">{{jobYears[0] + 1}}</div>
            </div>
            <div ng-repeat="year in jobYears" class="timeline-year {{year}}">
                <div ng-repeat="month in months" class="timeline-month {{year}}">
                    <div class="dot" title="{{monthName(month)}}"></div>
                </div>
                <div class="timeline-year-value">{{year}}</div>
            </div>


            <div class="timeline-job"
                 ng-attr-style="top:{{jobDistanceFromNow(item)}}px;">

                <div class="timeline-job-line"
                     ng-attr-style="height:{{jobLineHeight(item)}}px;top:-{{jobLineHeight(item)}}px">

                    <div class="timeline-job-line-marker from">from {{ item.from | date:'MMMM, yyyy' }}</div>
                    <div class="timeline-job-line-marker to">{{ item.to ? 'until ' : 'Still here' }}{{ item.to | date:'MMMM, yyyy' }}</div>
                </div>

            </div>

        </div>



    </div>

    <div class="description-container">

        <section ng-if="item.name" class="timeline-item-section description-item-section">
            <h2 class="description-item-title">{{ item.education ? 'Institution' : 'Company' }}</h2>
            <p class="description-item-text-lead">{{ item.name }}</p>
        </section>

        <section ng-if="item.position" class="timeline-item-section description-item-section">
            <h2 class="description-item-title">{{ item.education ? 'Course' : 'Position' }}</h2>
            <p class="description-item-text-lead">{{ item.position }}</p>
        </section>

        <section ng-if="item.description" class="timeline-item-section description-item-section">
            <h2 class="description-item-title">Description</h2>
            <p class="description-item-text">{{ item.description }}</p>
        </section>

        <section ng-if="projects && projects.length" class="timeline-item-section description-item-section">
            <h2 class="description-item-title">Projects</h2>
            <p class="description-item-text">
                <a ng-repeat="p in projects"
                   class="btn btn-default btn-sm btn-branded"
                   ui-sref="main.work.gallery.item({itemId:p.id})">{{p.title}}</a>
            </p>
        </section>

        <section ng-if="skills && skills.length" class="timeline-item-section description-item-section">
            <h2 class="description-item-title">Skills</h2>
            <p class="description-item-text">
                <a ng-repeat="s in skills"
                   tabindex="0"
                   popover-trigger="focus"
                   popover="{{s.description}}"
                   popover-title="{{s.name}}"
                   class="btn btn-default btn-sm btn-branded btn-popover">{{s.name}}</a>
            </p>
        </section>

        <section ng-if="languages && languages.length" class="timeline-item-section description-item-section">
            <h2 class="description-item-title">Technologies</h2>
            <p class="description-item-text">
                <a ng-repeat="l in languages"
                   tabindex="0"
                   popover-trigger="focus"
                   popover="{{l.description}}"
                   popover-title="{{l.name}}"
                   class="btn btn-default btn-sm btn-branded btn-popover">{{l.name}}</a>
            </p>
        </section>

    </div>

</div>