<section class="home-block">
    <h1><span class="firstName">Ivar</span><span class="lastName">Prudnikov</span></h1>
    <h2>// web developer</h2>
    <span class="separator">{{ codeText }}</span>
    <nav class="home-block-nav">
        <ul>
            <li>
                <a ui-sref="main.bio"
                   class="home-block-nav-bio" >
                    Bio
                    <span class="arrow"></span>
                </a>
            </li>
            <li>
                <a ui-sref="main.work.gallery"
                   class="home-block-nav-work">
                    Work
                    <span class="arrow"></span>
                </a>
            </li>
            <li>
                <a ui-sref="main.hire"
                   class="home-block-nav-hire">
                    Hire
                    <span class="arrow"></span>
                </a>
            </li>
        </ul>
    </nav>
</section>

<div ng-include="'views/footer.html'"></div>



