<div ng-include="'views/header.html'"></div>

<article class="page page-hire">
    <section class="container">

        <div class="row">

            <div class="page-navigation clearfix">

                <div class="col-md-8 col-md-offset-2 ">
                    <nav class="navbar navbar-default navbar-hire" role="navigation">
                        <ul class="nav navbar-nav">
                            <li ng-class="(currentState.name.indexOf('hire') > -1 && currentState.name.indexOf('hire_') < 0) ? 'active' : ''"><a ui-sref="main.hire">Contact Form</a></li>
                            <li ng-class="currentState.name.indexOf('hire_locations') > -1 ? 'active' : ''"><a ui-sref="main.hire.locations">Current Locations</a></li>
                            <li ng-class="currentState.name.indexOf('hire_future') > -1 ? 'active' : ''"><a ui-sref="main.hire.future">Future Considerations</a></li>
                            <li ng-class="currentState.name.indexOf('hire_documents') > -1 ? 'active' : ''"><a ui-sref="main.hire.documents">Documents</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="" ui-view="hireContent" autoscroll="false"></div>

        </div>

    </section>
</article>

<div ng-include="'views/footer.html'"></div>
