.blog-post-rating {
  margin-bottom: 1rem;
}

.blog-post-rating-btn {
  position: relative;
  color: $primary;
  border-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  padding: 0;
  margin: 0.2rem 0.8rem;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);

  &.selected {
    border-color: rgba(145, 255, 0, 0.8);
    box-shadow: 0 0 20px rgba(145, 255, 0, 0.8);
  }

  &:hover,
  &:focus,
  &.selected {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }

  &::after {
    content: 'thanks';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -23px;
    color: white;
    background: rgba(0,0,0,.7);
    z-index: 100;
    width: 46px;
    height: 24px;
    line-height: 24px;
    border-radius: 4px;
    font-size: 11px;
  }

  &.active::after {
    animation: jump 0.5s ease-out;
    -webkit-animation: jump 0.5s ease-out;
  }

  img {
    width: 100%;
    height: auto;
  }
}

@-webkit-keyframes jump {
  0% { opacity: 0; -webkit-transform: translateY(0) }
  10% { opacity: 1 }
  50% { opacity: 1; -webkit-transform: translateY(-10px)}
  100% { opacity: 0; -webkit-transform: translateY(-20px) }
}

@keyframes jump {
  0% { opacity: 0; transform: translateY(0) }
  10% { opacity: 1}
  50% { opacity: 1; transform: translateY(-10px)}
  100% { opacity: 0; transform: translateY(-20px) }
}
