---
layout: default
---

<article class="row my-4 justify-content-center">
  <div class="col-lg-8">
    <div class="blog-post">
      <h2 class="blog-post-title">{{ page.title }}</h2>
      <p class="blog-post-meta">{{ page.date | date: "%B %e, %Y" }}</p>

      {% if page.image %}
      <figure class="blog-post-image">
        <img class="mx-auto d-block img-fluid" src="{{ page.image | prepend: site.baseurl }}" />
        {% if page.image_caption %}
        <figcaption class="text-center text-muted">
          {{ page.image_caption }}
        </figcaption>
        {% endif %}
      </figure>
      {% endif %}

      <div class="blog-post-content">
        {{ content }}
      </div>
    </div>
  </div>
</article>
